/* Core tag alterations. */
html, body {height: 100%; width: 100%; color: #a9a9a9; background: url('/img/galaxy-1600-900-4399.jpg'); font-family: 'AR JULIAN'; letter-spacing: .1em;	font-size: 18px;}
a {text-decoration: none; color: #551A8B; }
a:hover {text-decoration: line-through;}
ul {list-style: none;}
li {line-height: 18.67px;}

/* Before template load. */
#playWind{position: absolute; bottom: 0; right: 0;}
.kw{position: absolute; left: 500px; bottom: 50%; font-size: larger;}

/* Template containers. */
#profileLocation {position: absolute; top: 10%; left: 10%; bottom: 10%; width: 20%; border: 0px solid yellow;}
#profileMenu {position: absolute; top: 10%; left: 10%; bottom: 10%; width: 20%; text-align: right; width: 80%;border: 0px solid green;}
.divPosition{position: absolute; top: 20%; left: 28.5%}

/* Classes pertaining to profile panel. */
.name {font-size: 18px; letter-spacing: .2em; z-index: 1; color: Blue;}
.middleName {letter-spacing: .17em;	font-style: italic; color: #86699d;}
.profileDivider {margin-top: 8px; margin-bottom: 8px;}
.title{color: #86699d !important;}
.profilePic{padding:1px; border:1px solid #021a40; background-color: white;}
.comingSoon{color: #b1b0ce !important;}
.workLink {color: #A9A9A9 !important;}

/* Screenshots */
.ct2020-screen, .sg-screen, .sr-screen, .sm-screen, .o-screen {position: absolute; left: 30%; top: 15%;}







